.inventory-box {
  button {
    background-color: transparent;
    border: none;
  }
  .selected-item {
    background-color: #e89d8b;
  }
}

.inventory-bar {
  background-color: #2b2524;
  display: flex;
  flex-direction: row;
  align-items: center; /* ← centers items vertically */
}
