.game-screen {
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  .game-buttons {
    flex: 1;

    width: 100%;
    max-width: calc(75vh * (16 / 9));
    max-height: 35px;

    display: flex;
    justify-content: flex-end;
  }

  .game-window {
    flex: 11;
    background-color: red;
    /* Limit size */
    max-height: 75vh;
    aspect-ratio: 16 / 9;

    /* Make sure it scales correctly */
    width: auto;
    max-width: calc(75vh * (16 / 9));
  }
}
