@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.background-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  button {
    background-color: transparent;
    border: none;
    position: absolute;
  }

  .keyButton {
    top: 63%;
    left: 85%;
  }

  .doorButton {
    top: 43%;
    left: 40%;
    opacity: 0;
  }

  .screwdriverButton {
    top: 38%;
    left: 64%;
    transform: scale(0.7) rotate(-5deg);
  }

  .thermostatDeskButton {
    top: 20%;
    left: 5%;
    width: 10%;
    height: 13%;
  }

  .thermostatDoorButton {
    top: 17%;
    left: 85%;
    width: 10%;
    height: 13%;
  }

  .thermostatFireplaceButton {
    top: 20%;
    left: 5%;
    width: 10%;
    height: 13%;
    background-color: forestgreen;
  }

  .goRight {
    top: 45%;
    left: 84%;
    background-color: red;
  }

  .goLeft {
    top: 45%;
    left: 0%;
    background-color: blue;
  }

  .getOut {
    top: 10%;
    left: 80%;
    background-color: orange;
  }

  .tempUp {
    top: 55%;
    left: 36%;
    transform: scale(1.5);
  }

  .tempDown {
    top: 55%;
    left: 54%;
    transform: scale(1.5);
  }

  .tempDisplay {
    position: absolute;
    top: 21%;
    left: 33%;
    width: 35%;
    font-size: 16vh;
    font-weight: bold;
    color: lightgreen;
    font-family: "Share Tech Mono", monospace;
    text-align: center;
  }

  .desk {
    background-color: yellow;
    top: 60%;
    left: 27%;
    width: 45%;
    height: 39%;
  }

  .book {
    top: 10%;
    left: 20%;
  }

  .opened-book {
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: burlywood;
    width: 150px;
    height: 227px;
    display: flex;
    align-items: center;
    border: 3px solid brown;
  }

  .drawer-knob {
    background-color: brown;
    height: 25px;
    width: 25px;
    top: 80%;
    left: 50%;
  }

  .opened-drawer {
    position: absolute;
    top: 80%;
    left: 25%;
    height: 15%;
    width: 50%;
    background-color: #654321;
  }

  .drawer-button {
    background-color: green;
    top: 20%;
    left: 15%;
  }
}

.screen-one-bg-one {
  /* background-image: url("../../assets/Screen1/bg1.png"); */
  background-image: url("../../assets/Screen1/bg1.1.gif");
}

.screen-one-bg-two {
  background-image: url("../../assets/Screen1/bg2.jpg");
}

.screen-two-bg-one {
  background-image: url("../../assets/Screen2/temp.png");
}

.screen-three-bg-one {
  background-image: url("../../assets/Screen3/piano.gif");
}

.screen-four-bg-one {
  background-image: url("../../assets/Screen4/bg1.png");
}

.screen-thermostat-bg {
  background-image: url("../../assets/Thermostat/bg.png");
}

.screen-six-bg-one {
  background-image: url("../../assets/Screen6/bg1.png");
}

.win-text {
  color: #2b2524;
  background-color: #e7c84e;
  /* max-width: 170px; */
  position: absolute;
  top: 44%;
  left: 37.5%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
