@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.background-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  button {
    background-color: transparent;
    border: none;
    position: absolute;
  }

  .keyButton {
    top: 63%;
    left: 85%;
  }

  .doorButton {
    top: 43%;
    left: 40%;
    opacity: 0;
  }

  .lightbulbButton {
    top: 10%;
    left: 24%;
    width: 7%;
    height: 26%;
    transform: rotate(-180deg);
    z-index: 1;
  }

  .lightbulbChain {
    top: -15.5%;
    left: 25%;
    scale: 0.5;
    background: none;
    border: none;
    padding: 0;
  }

  .screwdriverButton {
    top: 38%;
    left: 64%;
    transform: scale(0.7) rotate(-5deg);
  }

  .thermostatDeskButton {
    top: 20%;
    left: 5%;
    width: 10%;
    height: 13%;
  }

  .thermostatDoorButton {
    top: 17%;
    left: 85%;
    width: 10%;
    height: 13%;
  }

  .thermostatFireplaceButton {
    top: 20%;
    left: 4.5%;
    width: 10%;
    height: 13%;
    /* background-color: forestgreen; */
  }

  .goRight {
    top: 45%;
    left: 92%;
  }

  .arrow-right {
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
  }

  .goLeft {
    top: 45%;
    left: 0%;
  }

  .arrow-left {
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
  }

  .getOut {
    top: 86%;
    left: 47%;
  }

  .arrow-down {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
  }

  .tempUp {
    top: 55%;
    left: 36%;
    transform: scale(1.5);
  }

  .tempDown {
    top: 55%;
    left: 54%;
    transform: scale(1.5);
  }

  .tempDisplay {
    position: absolute;
    top: 21%;
    left: 33%;
    width: 35%;
    font-size: 16vh;
    font-weight: bold;
    color: lightgreen;
    font-family: "Share Tech Mono", monospace;
    text-align: center;
  }

  .desk {
    top: 60%;
    left: 27%;
    width: 45%;
    height: 39%;
  }

  .book {
    top: 22%;
    left: 31%;
    height: 30%;
    width: 13%;
    background-color: red;
  }

  .opened-book {
    position: absolute;
    top: 22%;
    left: 21%;
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 93%;
  }

  .drawer-knob {
    background-color: brown;
    height: 15%;
    width: 8%;
    top: 75%;
    left: 46%;
  }

  .drawer-button {
    top: 76%;
    left: 15%;
  }

  .sheet-music-button {
    top: 52.5%;
    left: 68%;
    width: 20%;
    height: 40%;
  }

  .piano-button {
    top: 67%;
    left: 12%;
    width: 30%;
    height: 15%;
  }

  .piano-keys {
    .white-key {
      width: 9%;
      height: 90%;
    }

    .black-key {
      width: 6%;
      height: 55%;
      z-index: 1;
    }

    .c1 {
      top: 8%;
      left: 10%;
    }
    .c1-sharp {
      top: 8%;
      left: 16.6%;
    }
    .d1 {
      top: 8%;
      left: 20.2%;
    }
    .d1-sharp {
      top: 8%;
      left: 27.8%;
    }
    .e1 {
      top: 8%;
      left: 30.3%;
    }
    .f1 {
      top: 8%;
      left: 40.4%;
    }
    .f1-sharp {
      top: 8%;
      left: 46%;
    }
    .g1 {
      top: 8%;
      left: 50.5%;
    }
    .g1-sharp {
      top: 8%;
      left: 57%;
    }
    .a1 {
      top: 8%;
      left: 60.6%;
    }
    .a1-sharp {
      top: 8%;
      left: 68%;
    }
    .b1 {
      top: 8%;
      left: 70.7%;
    }
    .c2 {
      top: 8%;
      left: 80.8%;
    }
  }

  .paintingButton {
    left: 32%;
    top: 0%;
  }

  .dropped-painting {
    position: absolute;
    top: 55%;
    left: 0%;
    transform: rotate(90deg);
  }

  .goToSafeButton {
    width: 34%;
    height: 31%;
    left: 31%;
    top: 1%;
  }

  .exitSafe {
    /* top: 76%;
    left: 45%;
    width: 10%;
    height: 10%; */
    z-index: 10;
    /* background-color: orange; */
  }

  .screw-panel {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .screw1 {
    height: 12%;
    width: 7%;
    top: 10%;
    left: 8%;
  }

  .screw2 {
    height: 12%;
    width: 7%;
    top: 76%;
    left: 8%;
  }

  .screw3 {
    height: 12%;
    width: 7%;
    top: 10%;
    left: 85%;
  }

  .screw4 {
    height: 12%;
    width: 7%;
    top: 76%;
    left: 85%;
  }

  .buttonColor0 {
    background-color: pink;
  }
  .buttonColor1 {
    background-color: orange;
  }
  .buttonColor2 {
    background-color: blue;
  }
  .buttonColor3 {
    background-color: green;
  }

  .button1 {
    height: 12%;
    width: 7%;
    top: 10%;
    left: 10%;
  }
  .socket1 {
    height: 12%;
    width: 7%;
    top: 10%;
    left: 10%;
    background-color: purple;
  }
  .button2 {
    height: 12%;
    width: 7%;
    top: 50%;
    left: 10%;
  }
  .socket2 {
    height: 12%;
    width: 7%;
    top: 50%;
    left: 10%;
    background-color: purple;
  }
  .button3 {
    height: 12%;
    width: 7%;
    top: 85%;
    left: 10%;
  }
  .socket3 {
    height: 12%;
    width: 7%;
    top: 85%;
    left: 10%;
    background-color: purple;
  }

  .safeHandle {
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    background-color: aqua;
  }
}

.screen-one-bg-one {
  /* background-image: url("../../assets/Screen1/bg1.png"); */
  background-image: url("../../assets/Screen1/bg1.1.gif");
}

.screen-one-bg-two {
  background-image: url("../../assets/Screen1/bg2.jpg");
}

.screen-two-bg-one {
  background-image: url("../../assets/Screen2/fire.gif");
}

.screen-three-bg-one {
  background-image: url("../../assets/Screen3/piano.gif");
}

.screen-four-bg-one {
  background-image: url("../../assets/Screen4/bg1.png");
}

.screen-thermostat-bg {
  background-image: url("../../assets/Thermostat/bg.png");
}

.screen-six-bg-both {
  background-image: url(../../assets/Screen6/both.png);
}

.screen-six-bg-book {
  background-image: url(../../assets/Screen6/book.png);
}

.screen-six-bg-drawer {
  background-image: url(../../assets/Screen6/drawer.png);
}

.screen-six-bg-neither {
  background-image: url(../../assets/Screen6/neither.png);
}

.screen-seven-bg {
  background-image: url("../../assets/Screen7/sheetmusic.png");
}

.screen-eight-bg {
  background-image: url("../../assets/Screen8/bg1.png");
}

.win-text {
  color: #2b2524;
  background-color: #e7c84e;
  /* max-width: 170px; */
  position: absolute;
  top: 44%;
  left: 37.5%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
