@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.background-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  button {
    background-color: transparent;
    border: none;
    position: absolute;
  }

  .keyButton {
    top: 65%;
    left: 75%;
  }

  .doorButton {
    top: 19%;
    left: 39%;
    width: 22%;
    height: 78%;
  }

  .lightbulbButton {
    top: 10%;
    left: 24%;
    width: 7%;
    height: 26%;
    transform: rotate(-180deg);
    z-index: 1;
  }

  .lightbulbChain {
    top: -15.5%;
    left: 25%;
    scale: 0.5;
    background: none;
    border: none;
    padding: 0;
  }

  .screwdriverButton {
    top: 38%;
    left: 64%;
    transform: scale(0.7) rotate(-5deg);
  }

  .thermostatDeskButton {
    top: 20%;
    left: 5%;
    width: 10%;
    height: 13%;
  }

  .thermostatDoorButton {
    top: 17%;
    left: 85%;
    width: 10%;
    height: 13%;
  }

  .lavaLampButton {
    top: 37%;
    left: 77.5%;
    width: 10%;
    height: 37%;
  }

  .trapDoorButton {
    top: 93%;
    left: 16.5%;
    width: 20%;
    height: 7%;
    padding: 0;
  }

  .trapDoorButton img {
    width: 100%;
    height: 200%;
  }

  .passWord {
    position: absolute;
    top: 40%;
    left: 42.5%;
    width: 15%;
    height: 8%;
    background-color: #f5f5f5;
    font-family: "Share Tech Mono", monospace;

    border: 3px solid #000;
    border-radius: 8px;
    padding: 0 10px;

    outline: none;
  }

  .redButton {
    position: absolute;
    top: 45%;
    left: 45.5%;
    width: 7%;
    height: 12%;
  }

  .submitPassWord {
    position: absolute;
    top: 50%;
    left: 42.5%;
    width: 15%;
    height: 8%;
    background-color: black;
    color: white;
    font-family: "Share Tech Mono", monospace;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.15em;
  }

  .thermostatFireplaceButton {
    top: 20%;
    left: 4.5%;
    width: 10%;
    height: 13%;
  }

  .goRight {
    top: 45%;
    left: 92%;
  }

  .arrow-right {
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
  }

  .goLeft {
    top: 45%;
    left: 0%;
  }

  .arrow-left {
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
  }

  .getOut {
    top: 86%;
    left: 47%;
  }

  .arrow-down {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
  }

  .tempUp {
    top: 55%;
    left: 36%;
    transform: scale(1.5);
  }

  .tempDown {
    top: 55%;
    left: 54%;
    transform: scale(1.5);
  }

  .tempDisplay {
    position: absolute;
    top: 21%;
    left: 33%;
    width: 35%;
    font-size: 16vh;
    font-weight: bold;
    color: lightgreen;
    font-family: "Share Tech Mono", monospace;
    text-align: center;
  }

  .desk {
    top: 60%;
    left: 27%;
    width: 45%;
    height: 39%;
  }

  .lamp {
    top: 24%;
    left: 80.5%;
    width: 12%;
    height: 25%;
  }

  .lamp-on-off {
    top: 24%;
    left: 80.5%;
    width: 12%;
    height: 25%;
  }

  .book {
    top: 22%;
    left: 31%;
    height: 30%;
    width: 13%;
  }

  .opened-book {
    position: absolute;
    top: 22%;
    left: 21%;
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 93%;
  }

  .drawer-knob {
    height: 15%;
    width: 8%;
    top: 75%;
    left: 46%;
  }

  .drawer-button {
    top: 76%;
    left: 15%;
  }

  .hole-in-the-wall {
    position: inherit;
    top: 45%;
    left: 55.5%;
    width: 15%;
    height: 15%;
    transform: scale(1.4);
    padding: 0;
    margin: 0;
  }

  .piano-hole-button {
    position: inherit;
    top: 27%;
    left: 51%;
    width: 10%;
    height: 15%;
    transform: scale(0.6);
  }

  .sheet-music-button {
    top: 52.5%;
    left: 68%;
    width: 20%;
    height: 40%;
  }

  .piano-button {
    top: 67%;
    left: 12%;
    width: 30%;
    height: 15%;
  }

  .piano-keys {
    .white-key {
      width: 9%;
      height: 90%;
    }

    .black-key {
      width: 6%;
      height: 55%;
      z-index: 1;
    }

    .c1 {
      top: 8%;
      left: 10%;
    }
    .c1-sharp {
      top: 8%;
      left: 16.6%;
    }
    .d1 {
      top: 8%;
      left: 20.2%;
    }
    .d1-sharp {
      top: 8%;
      left: 27.8%;
    }
    .e1 {
      top: 8%;
      left: 30.3%;
    }
    .f1 {
      top: 8%;
      left: 40.4%;
    }
    .f1-sharp {
      top: 8%;
      left: 46%;
    }
    .g1 {
      top: 8%;
      left: 50.5%;
    }
    .g1-sharp {
      top: 8%;
      left: 57%;
    }
    .a1 {
      top: 8%;
      left: 60.6%;
    }
    .a1-sharp {
      top: 8%;
      left: 68%;
    }
    .b1 {
      top: 8%;
      left: 70.7%;
    }
    .c2 {
      top: 8%;
      left: 80.8%;
    }
  }

  .paintingButton {
    left: 29%;
    top: -1%;
    height: 34%;
    width: 40%;
  }

  .paintingButton img {
    width: 100%;
    height: 100%;
  }

  .dropped-painting {
    position: absolute;
    top: 55%;
    left: 0%;
    transform: rotate(90deg);
  }

  .goToSafeButton {
    width: 34%;
    height: 31%;
    left: 31%;
    top: 1%;
  }

  .exitSafe {
    z-index: 10;
  }

  .screw-panel {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .screw1 {
    height: 12%;
    width: 7%;
    top: 10%;
    left: 8%;
  }

  .screw2 {
    height: 12%;
    width: 7%;
    top: 76%;
    left: 8%;
  }

  .screw3 {
    height: 12%;
    width: 7%;
    top: 10%;
    left: 85%;
  }

  .screw4 {
    height: 12%;
    width: 7%;
    top: 76%;
    left: 85%;
  }

  .buttonColor0 {
    background-image: url("../../assets/button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .buttonColor1 {
    background-image: url("../../assets/button-orange.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .buttonColor2 {
    background-image: url("../../assets/button-blue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .buttonColor3 {
    background-image: url("../../assets/button-green.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button1 {
    height: 18%;
    width: 11%;
    top: 20%;
    left: 19%;
  }
  .socket1 {
    height: 18%;
    width: 11%;
    top: 20%;
    left: 19%;
  }
  .button2 {
    height: 18%;
    width: 11%;
    top: 41%;
    left: 19%;
  }
  .socket2 {
    height: 18%;
    width: 11%;
    top: 41%;
    left: 19%;
  }
  .button3 {
    height: 18%;
    width: 11%;
    top: 63%;
    left: 19%;
  }
  .socket3 {
    height: 18%;
    width: 11%;
    top: 63%;
    left: 19%;
  }
  .safeHandle {
    top: 30%;
    left: 58%;
    width: 20%;
    height: 40%;
  }
}

.screen-one-bg-one {
  /* background-image: url("../../assets/Screen1/bg1.png"); */
  background-image: url("../../assets/Screen1/bg1.1.gif");
}

.screen-one-bg-two {
  background-image: url("../../assets/Screen1/bg2.jpg");
}

.screen-two-bg-one {
  background-image: url("../../assets/Screen2/fire.gif");
}

.screen-three-bg-one {
  background-image: url("../../assets/Screen3/piano.gif");
}

.screen-four-bg-one {
  background-image: url("../../assets/Screen4/bg1.png");
}

.screen-four-bg-light-off {
  background-image: url("../../assets/Screen4/lightbulb-off.png");
}

.screen-four-bg-light-on {
  background-image: url("../../assets/Screen4/lightbulb-on.png");
}

.screen-thermostat-bg {
  background-image: url("../../assets/Thermostat/bg.png");
}

.screen-six-bg-both {
  background-image: url(../../assets/Screen6/both.png);
}

.screen-six-bg-book {
  background-image: url(../../assets/Screen6/book.png);
}

.screen-six-bg-drawer {
  background-image: url(../../assets/Screen6/drawer.png);
}

.screen-six-bg-neither {
  background-image: url(../../assets/Screen6/neither.png);
}

.screen-seven-bg {
  background-image: url("../../assets/Screen7/sheetmusic.png");
}

.screen-eight-bg {
  background-image: url("../../assets/Screen8/bg1.png");
}

.screen-nine-bg-one {
  background-image: url(../../assets/Screen9/vaultClosed.png);
}

.screen-nine-bg-two {
  background-image: url(../../assets/Screen9/vaultOpen.png);
}

.screen-ten-bg-one {
  background-image: url("../../assets/Screen10/screen-ten-bg-one.png");
}

.screen-ten-bg-zero {
  background-image: url("../../assets/Screen10/screen-ten-bg-closed.png");
}

.win-text {
  color: #2b2524;
  background-color: #e7c84e;
  /* max-width: 170px; */
  position: absolute;
  top: 44%;
  left: 37.5%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
