.background-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  button {
    background-color: transparent;
    border: none;
    position: absolute;
  }

  .keyButton {
    top: 63%;
    left: 85%;
  }

  .doorButton {
    top: 43%;
    left: 40%;
    opacity: 0;
  }

  .screwdriverButton {
    top: 38%;
    left: 64%;
    transform: scale(0.7) rotate(-5deg);
  }

  .goRight {
    top: 45%;
    left: 84%;
    background-color: red;
  }

  .goLeft {
    top: 45%;
    left: 0%;
    background-color: blue;
  }
}

.screen-one-bg-one {
  /* background-image: url("../../assets/Screen1/bg1.png"); */
  background-image: url("../../assets/Screen1/bg1.1.gif");
}

.screen-one-bg-two {
  background-image: url("../../assets/Screen1/bg2.jpg");
}

.screen-two-bg-one {
  background-image: url("../../assets/Screen2/temp.png");
}

.screen-three-bg-one {
  background-image: url("../../assets/Screen3/piano.gif");
}

.screen-four-bg-one {
  background-image: url("../../assets/Screen4/bg1.png");
}

.win-text {
  color: #2b2524;
  background-color: #e7c84e;
  /* max-width: 170px; */
  position: absolute;
  top: 44%;
  left: 37.5%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
