.background-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  button {
    background-color: transparent;
    border: none;
    position: absolute;
  }

  .keyButton {
    top: 65%;
    left: 85%;
  }

  .doorButton {
    top: 32%;
    left: 20%;
  }
}

.bg-one {
  background-image: url("../../assets/Screen1/bg1.png");
}

.win-text {
  color: gold;
  background-color: blue;
  max-width: 170px;
  position: absolute;
  top: 30%;
  left: 45%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
